.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:focus {
  background-color: #2ac272 !important;
}
.css-yrdy0g-MuiDataGrid-columnHeaderRow {
  background-color: #d8d8d8 !important;
}
.modalComp {
  margin-top: 50px;
}
